

.common-max-width{
    max-width: 1000px;
    margin: 0 auto;
}

.nav-prent{
    background-color: #2E2622;
}

.nav-container{
    display: flex;
    justify-content: space-between;
}

.nav-logo-text {
    display: flex;
    align-items: center;
    gap: 3px;
}

.nav-logo-text img{
      width: 30px;
}
.nav-logo-text span {
     font-size: 20px;
     font-weight: bold;
     color: #E9B44C;
}
.nav-container ul{
    display: flex;
    list-style: none;
    gap: 8px;
}

.nav-container ul a {
    text-decoration: none;
}

.nav-container ul li a {
    color: white;
}